.ospic1{
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
}
.title{
  position: absolute;
  top: 200px;
  left: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 4.2rem;
  padding-left: 25%;
}
.row-algo {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.fifo {
  width: 35%;
  margin-right: 30px;
  float: left;
}

.Opr {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 100%;
}

.Lru {
  width: 35%;
  margin-right: 30px;
  float: left;
  border-radius: 100%;
}
#mid{
  text-align: center;
  padding: 5% 0 5% 0;
}
h2{
  font-weight: bolder;
}
hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  width: 15%;
  border-width: 12px;
  border-color: #66BFBf;
  margin: 100px auto;
}
#last{
  background-color: #FBF4E9;
  text-align: center;
  padding: 3% 4%;

}

.fc1{
  margin-top: 90px;
  text-align: center;
}
.fifop{
  line-height: 1.5;
  padding: 0 20%;
}
.h3exa{
  text-align: left;
  margin-left: 100px;
}
.point{
  margin-right: 3px;
  font-size: 20px;
}
.ulfifo{
  text-align: left;
  padding-left: 23%;
}

.extpadd{
  padding-top: 100px;
}
